
.button{
  font-family:'HansKendrickHeavy', sans-serif;
  background: #1ba91c;
  box-shadow: #086707 5px 5px;
  font-style: normal;
  margin-right: 5px;
  padding: 3px 10px;
  text-shadow: none;
  margin-left: -8px;
  text-decoration:none;
  border: none;
  color:white;
}

.button--link{
}


.btn-remove{
  @extend .button;
  background:gray;
}