.list-header{
    background: #f7f7f7;
    border: 1px solid darken(#f7f7f7, 7%);
    color:gray;
    display:flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}
.list-item{
    border: 1px solid darken(#f7f7f7, 7%);
    border-top:none;
    display:flex;
    flex-direction:column;
}