.navbar-brand__text{
    font-family:'HansKendrickHeavy', sans-serif;
    font-style: normal;
    margin-right: 20px!important;
    padding: 3px 10px;
    text-shadow: none;
    margin-left: -8px;
    color:white!important;
    text-transform:uppercase;
}
.red{
    background: #f96854;
    box-shadow: #b74e3f 5px 5px;
}
.blue{
    background: #003dfc;
    box-shadow: #27336d 5px 5px;
}
